# hidden files, force-add gitignore
.*
!/.gitignore

# python
__pycache__/
*.py[cod]
*$py.class

# files
**.nc
**.mat
**.ipynb

# folders
/figures/*
/data/*
/literature/*
/papers_to_read/*
/src/pwp/*
/src/ipynb/*
/presentations/*
/src/pwp/*
